* {
    box-sizing: border-box;
}

body {
   width: 100%;
   font-family: 'Sonsie One';
}

.absolut {
   position: absolute;
   left: 20px;
   top: 10px;
}

h1 {
   font-family: 'Sonsie One';
   font-size: 100px;
   color: #4b4c4d;
   margin-top: 50px;
   text-align: center left;
   text-indent: 15px;
   line-height: 110px;
   text-shadow: 6px 4px #cccccc;;
   padding-left: 80px;
}
h2 {
   
   font-family: 'Sonsie One';
   color:#4b4c4d;
   text-align: center;
   letter-spacing: 10px;
   text-shadow: 6px 4px #cccccc;
   padding-left: 50px;
   padding-top:20px;
   width: 100%;
   }
   
h2 span {
       text-emphasis: shadow 0px;
       text-shadow: none;
   }

nav {
       position: fixed;
       top: 0;
       width: 100%;  
   }

a {
       font-size: 45px;
       letter-spacing: 10px;
       color: #ffffff;
       text-decoration: none;
       display: inline-block;
       text-transform: capitalize;
   }

  header ul {
       background-color: rgb(0, 0, 0);
       height: 60px;
   }
   
li {
       display: block;
       float: left;
       width: 25%;
       text-align: center;
       padding: 5px;
       padding-bottom: 0;
       
   }
   
   
section {
       
       border-top: none;
       background-color: #c4b395;
       font-family: 'Sonsie One';
       font-size: 15px;
       float: left;
       text-align: justify;
       width: 33.33%;
       padding: 5px 28px ;
       vertical-align: middle;
   }
   /*section p {
       font-family: 'Kite One';
   }*/
   section p::first-letter {
       font-size: 23px;
   }

article::aftter {
       content: "";
       display: table;
       clear: both;
      } 

footer {
          height: 50px;
          background-color: #f5d8a4;
          position: fixed;
          bottom: 0;
          width: 100%;     
          font-family: 'Sonsie One';     
          font-size: 12px;     
          text-align: right;     
          padding: 15px 10px 5px 0;     
      }     

.fa {
       padding: 5px;
       font-size: 10px;
       text-align: center;
       text-decoration: none;
      }
   
.fa-facebook {
       background: #3B5998;
       color: white;
   }
   
.fa-twitter {
       background: #55ACEE;
       color: white;
   }
     dodaje dude {
         kuku
}
